# Executable files
a
1A
LuckyNumber
a.out
*.out
*.exe
*.bin

# Object files
*.o
*.obj

# macOS specific
.DS_Store

# Editor specific
.vscode/
*.swp
*.swo
*~

/.cph
/.project
/tempCodeRunnerFile
/tempCodeRunnerFile.c
/tempCodeRunnerFile.java
/test.cpp
/xxx
/xxx.c
